	<div id="login-container-fluid" class="container-fluid">
	
	  <section id="login" data-bind="with: login">
		  <div class="span4 offset4">
			<div class="well">
			  <legend>Acceder</legend>
			  <form method="POST" action="/login" accept-charset="UTF-8" data-bind="submit: crypt">
				  <input type="hidden" name="password" id="password" data-bind="value: password"/>
				  <div class="alert alert-error" style="display: none" data-bind="style: { display: error() == false ? 'none' : '' }">
					<a class="close fade in" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
				  </div>
				  <fieldset>
					
					<div class="input-prepend" title="Username" data-rel="tooltip">
						<span class="add-on">
						  <i class="icon-user"></i>
						</span>
						<input autofocus class="span3" placeholder="username..." name="username" id="username" type="text"/>
					</div>
					<div class="clearfix"></div>

					<div class="input-prepend" title="Password" data-rel="tooltip">
						<span class="add-on">
						  <i class="icon-lock"></i>
						</span>
						<!--<input class="span3" id="clearpassword" type="password" data-bind="value: clearpassword, attr:{name: clearpasswordname}"/>-->
						<input class="span3" id="clearpassword" type="password"/>
						
					</div>
					<div class="clearfix"></div>

					<label class="checkbox">
					  <input type="checkbox" name="remember" value="1"> Remember Me
					</label>
					<button class="btn-primary btn" type="submit">Login</button>      
				  </fieldset>

			  </form>    
			</div>
		  </div>
		  
	  </section>
	  
	  <!--<section id="login">
		<div class="span4 offset4">
		  <form class="well" action="/login" method="post">
			<h4>Acceder</h4>
			</br>
			<label>Nombre de usuario</label>
			<input type="text" class="span3" placeholder="usuario@e-ducativa.com" name="username">
			<label>Contraseña</label>
			<input class="span3" type="password" name="password">
			<div class="row-fluid">
			  <div class="span4">
				<button type="submit" class="btn btn-primary">Acceder</button>
			  </div>
			  <div class="span8">
				<label class="checkbox">
				  <input type="checkbox" checked> No cerrar sesión
				</label>
			  </div>
			</div>
			
		  </form>
		</div>
	  </section>-->
	  
	</div> <!-- end fluid -->

	{{> page/footer}}